:root {
	--color-primary-50: #e0f8f5;
	--color-primary-100: #b3f0e8;
	--color-primary-200: #80e6da;
	--color-primary-300: #4ddbcc;
	--color-primary-400: #26cfc0;
	--color-primary-500: #01b7a1; 
	--color-primary-600: #019f8c;
	--color-primary-700: #018a78;
	--color-primary-800: #017463;
	--color-primary-900: #015d4f;
	--color-primary-950: #003f36;

	--color-base-50: #f8fafc;
	--color-base-100: #f1f5f9;
	--color-base-200: #e2e8f0;
	--color-base-300: #cbd5e1;
	--color-base-400: #94a3b8;
	--color-base-500: #64748b;
	--color-base-600: #475569;
	--color-base-700: #334155;
	--color-base-800: #1e293b;
	--color-base-900: #0f172a;
	--color-base-950: #020617;
}
